.mainHead{
  background: teal;
  height: 100px;
}

.navbtn{
  width: 100px;
  height: 50px;
  margin: 10px 15px 10px 10px;
  display: inline;
  float: right;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: -30px;
}

.DR{
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 50px;
  width: auto;
  position: relative;
  top: 18px;
}

