@import url("https://fonts.googleapis.com/css?family=Audiowide|Nixie+One");
.mainBodAbout{
    /* background-image: url('https://www.phyramid.com/images/blog/making-phyramid-coms-procedurally-rendered-3d-header/header-background-indexed.png'); */
    /* background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqS__RpIHeu4cg5BsdVXh1SkHEosGgciQaXenvLD8MFkW9Kxf-'); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.253), rgb(94, 90, 90));
    width: 100%;
    height: 87vh;
    display: flex;
    flex-direction: row;
}
 
.profilePicBox{
    order: 1;
    background-image: url('./proPic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 20px 20px 50px rgb(94, 92, 92);
    margin-left: 100px;
    margin-top: 50px;
    width: 500px;
    height: 430px;
}

.aboutParaBox{
    order: 1;
    width: 50%;
    margin-right: 100px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}
.aboutPara{
    height: 100px;
    font-family: 'Nixie One', cursive;
    line-height: 1.6;
    color: black;
    position: relative;
    top: 185px;
}
@media(max-width: 425px){
    .mainBodAbout{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 90vh;
        overflow-x: hidden;
    }
    .profilePicBox{
        order: 2; 
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 70px;
        margin-left: 0;
        width: 400px;
        height: 530px;
    }
    .aboutParaBox{
        order: 1;
        width: 100%;
        height: auto;
        display: block;
        margin: 10px 30px;
    }
    .aboutPara{
       display: block;
       padding: 10px;
       height: 115px;
       position: relative;
       top: 30px;
    }
}
@media(max-width: 320px){
    .mainBodAbout{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 90vh;
        overflow-x: hidden;
    }
    .profilePicBox{
        order: 2; 
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 80px;
        margin-left: 0;
        width: 400px;
        height: 530px;
    }
    .aboutParaBox{
        order: 1;
        width: 100%;
        height: auto;
        display: block;
        margin: 10px 30px;
    }
    .aboutPara{
       display: block;
       padding: 10px;
       height: 115px;
       position: relative;
       top: 5px;
    }
}