.mainBodAbout{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqS__RpIHeu4cg5BsdVXh1SkHEosGgciQaXenvLD8MFkW9Kxf-');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}
 
.profilePicBox{
    order: 1;
    background-image: url('./proPic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 100px;
    margin-top: 50px;
    width: 500px;
    height: 430px;
}

.aboutParaBox{
    order: 1;
    width: 50%;
    margin-right: 100px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}
.aboutPara{
    position: relative;
    top: 185px;
}
@media(max-width: 425px){
    .mainBodAbout{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100vh;
    }
    .profilePicBox{
        order: 2; 
        margin-top: 20px;
        margin-left: 0;
        width: 500px;
        height: 430px;
    }
    .aboutParaBox{
        order: 1;
        width: 100%;
        height: 100%;
        display: block;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        margin: 10px 30px;
    }
    .aboutPara{
       display: block;
       
    }
}