@import url("https://fonts.googleapis.com/css?family=Audiowide|Nixie+One");

.mainBookCont{
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(94, 90, 90));
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.worldCont{
    width: 100%;
    height: auto;
    margin: 5px 250px;
}
.bookInfo{
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(94, 90, 90));
    border-radius: 5px;
    box-shadow: 20px 20px 50px rgb(75, 73, 73);
    padding: 15px;
    margin-bottom: 35px;
    color: black;
    line-height: 1.5em;
    font-family: 'Nixie One', cursive;
}
@media(min-width: 1824px){
    .worldCont{
        width: 100%;
        height: auto;
        margin: 5px 115px;
    }
    .bookInfo{
        font-size: 24px;
    }
}
@media(min-width: 1220px){
    .worldCont{
        width: 100%;
        height: auto;
        margin: 0px 0px;
    }  
}
@media(max-width: 768px){
    .worldCont{
        width: 100%;
        height: auto;
        margin: 5px 115px;
    } 
}
@media(max-width: 468px){
    .bookInfo{
        width: 93vw;
        height: auto;
        box-shadow: 0 10px 10px -2px rgb(75, 73, 73);
        padding: 10px;
        margin-bottom: 35px;
        color: black;
        line-height: 1.5em;
        font-family: 'Nixie One', cursive;
    }
}
    
