

.mainBookCont{
    background-image: url('./bookBG.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.buyLinkBook{
    height: 100px;
}
.buybtn{
    width: 400px;
    height: 50px;
    font-size: 40px;
    background: linear-gradient(to bottom right, gray,rgb(134, 21, 21));
    position: relative;
    left: 400px;
}